<head>
  <!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CMS</title>
		<meta name="description" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	 	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700,800' rel='stylesheet' type='text/css'>
	 	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic" rel="stylesheet" type="text/css">
    <!-- Favicon
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="shortcut icon" href="./favicon.ico"/>   
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   
  </head>
  <!-- Top Bar -->
  <section class="top-bar">
    <div class="container">
      <div class="row">

        <div class="box box-1">

          <div class="socials">
            <ul>
              <li><a href="https://www.facebook.com/RelixJohn"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/RelixJohn"><i class="fa-brands fa-square-twitter"></i></a></li>
              <li><a href="https://vimeo.com/user165664703"><i class="fa-brands fa-vimeo"></i></a></li>
              <li><a href="https://github.com/johnxiler"><i class="fa-brands fa-github"></i></a></li>
            </ul>
          </div>
        </div>
<!-- Header -->
<header class="header">
  <div class="container">
    <div class="logo">
      <a href="{{ 'blog' }}">
        <h1>RELIX</h1><p>&nbsp</p>
        <h6>CRUD MANAGEMENT SYSTEM</h6>
      </a>
    </div>
  </div>
</header>

<!-- Main Nav -->
  <nav class="nav container">		 
    <ul>
      <li><a href="{{'blog'}}">Blog</a></li>
      <li><a href="{{'about'}}">About</a></li>
      <li><a href="{{'features'}}">Features</a></li>
      <li><a href="{{'contact'}}">Contact</a></li>
      <li><a href="{{'crudgen'}}">CMS</a></li>
    </ul>				
  </nav>
